.model-availability {
  max-width: 1440px;
  margin: 30px auto 50px;
  padding: 0 20px;

  &__city {
    font-weight: 700;
    text-transform: uppercase;
    color: var(--main-text-color);
  }

  &__title {
    margin: 0 0 15px;
    font-size: 25px;
    font-weight: 800;
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    gap: 15px;
  }

  &__item {
    background: var(--light-color);
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .06);
    display: grid;
    gap: 10px;
  }

  &__row {
    display: flex;
    justify-content: space-between;
    gap: 10px;

    span {
      color: var(--main-text-color);
    }
  }

  @media (max-width: 480px) {
    &__row {
      flex-direction: column;
      align-items: flex-start;
    }
  }
}
